description:'Utilizing agile software development methodology, I have created a highly efficient and accurate solution for your Pi robots.\n' +
'\n' +
'I programmed the radar in Python, enabling it to collect LIDAR sensor readings with ease. Through advanced trigonometric computations, I have achieved a remarkable 95% accuracy in calculating target coordinates. This ensures that your robots can navigate their environment with unparalleled precision and safety.\n' +
'\n' +
'With my radar application, you can trust that your Pi robots will be equipped with the most advanced technology available. Plus, I am always available to provide support and updates as needed.',
repoLink: `https://github.com/asigdel29/RobotRadar`,