@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fadingIn {
    animation: fadeIn 1s ease-in-out forwards;
}

body, html, #root, .App {
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}
