<pre>
                                   Anubhav Sigdel

New York | +1-315-806-4832 | Email -asigdel@oswego.edu | HackerRank - asigdel

EDUCATION
State University of New York Oswego, NY
Bachelors in Computer Science and Cognitive Science
August 2019-May 2023

State University of New York Oswego, NY
Masters in Science in Biomedical and Health Informatics
August 2023-May 2024

WORK EXPERIENCE:

Collimation Los Angeles, CA
Game Developer Intern May 2022 - August 2022
● Utilized C++ to create prototypes based on design team specifications
● Implemented music driven locomotion for FPS game in Unreal Engine to develop challenging
and engaging third person shooter game; used AWS EC2 virtual instance for team collaboration
● Collaborated with the Creative and Immersive teams to incorporate design features into
recreational games prior to market release

Cyber Physical Systems Lab - SUNY Oswego, NY
Research Assistant November 2022 - Present
● Implemented a Collaborative Automotive Cyber-Physical System using BeamNG.tech
● Simulated a Cooperative Adaptive Cruise Control system wherein the cars negotiate speed
to form and coordinate platoons.

Cognitive Dynamics Lab - SUNY Oswego, NY
Research Assistant August 2021 - May 2023
● Engineered a research-grade markerless motion capture program using OpenPose, DeepLabCut
for data collection; Calibrated software accuracy to 99.3% via Charuco Boards.
● Streamlined the data collection processes using Python to automate the data collection
process by developing custom scripts in Python;increasing efficiency by up 25%.
● Conducted study by using motion capture to study Free Recall for expressing search and
retrieve process to find out how the search and retrieve process within our brains
alter when given the same task multiple times.

School of Business, SUNY Oswego, NY
Data Analyst - International Trade Project December 2022 - May 2023
● Leverage expertise in data acquisition and organization to generate actionable
insights and develop innovative data visualization strategies.
● Utilize Python, Tableau, and Gephi to conduct complex data analyses and present
compelling visual representations of findings.

PROJECT EXPERIENCE:

Calibrated Peer Review Tool
Software Design
● Leveraged expertise in backend development to design, develop and deploy key features.
● Collaborated with IBM to successfully deliver the calibrated peer review tool,
which is currently being used by students and faculty members.
● Utilized Agile methodologies to manage and prioritize tasks, ensuring timely delivery.
● Documented technical requirements and specifications for the tool, enabling
efficient communication between cross-functional teams.

Robot Radar
Software Engineering
● Designed and constructed a radar application for Pi robots through
agile software development methodology
● Programmed radar in Python to collect LIDAR sensor readings using
trigonometric computations to calculate target coordinates with an accuracy of 95%

RCCA and Hyundai Smart Trunk System
Software and Safety Requirements Engineering
● Applied agile methodologies for election, documentation and management of
natural language-based and model-based requirements in order to address safety-critical
life cycle concerns of Hyundai Saint Jose
● Performed FMEA and other analysis on the Smart Trunk System including safety analysis,
quality assurance, failure mode and effective analysis and functional hazard analysis

Diabetic Retinopathy Detection
Machine Learning
● Engineered a convolutional neural network model on a large set of high-resolution
retina images taken under a variety of imaging conditions to train and predict
diabetic retinopathy from retina images
● Implemented an algorithm for image preprocessing; increasing accuracy from 79% to 87%
and reducing training time by 1 hour

Real Time Financial Data API
Software Deployment
● Successfully deployed a REST API in Go. Utilizing Postman, Loggly, Docker
and a suite of AWS products to host and manage data from Alethia API including
Simple Storage Service (S3), Codebuild, ECR, and Fargate

LEADERSHIP EXPERIENCE

Computer Science Association Oswego, NY
President May 2022 - May 2023
● Trained junior officers and delegated tasks
● Maintained communication with the Student board
● Organized and judged the regional ACM programming competition.

Cognitive Science Association Oswego, NY
President May 2022 - December 2022
● Implemented and maintained a new streamlined method through which members signed up and
communicated within the organization.
● Organized and led course specific review sessions for fellow members.

Focus Forward Oswego, NY
Student Mentor and Team Leader January 2020-December 2021
● Counseled students individually and in group sessions to promote educational motivation.
● Mentored and guided fellow team members to foster proper completion of assigned tasks.

SKILLS & INTERESTS

Certifications: AWS Academy Cloud Foundations, AWS Academy Cloud Security Foundations,
IBM Applied Data Science Specialization

Languages: Java, C, C#, C++, Scala, Prolog, Go, Python, Lisp, CSS,
Technologies : AWS, Docker, React, Angular,
Data Analytics: SQL, R, NoSQL, Tableau, Excel
Project Management: DevOps, Agile Development, Git, Kubernetes
Machine Learning: TensorFlow, Keras, Natural Language Processing, Spark
</pre>
`;