
.react-console-emulator {
    top: 10%;
    left: -50% ;
    min-height: 2px;
    min-width: 500px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    overflow: auto;
    cursor: text;
    background-color: rgb(0, 33, 33);
    background-size: cover;
    visibility: hidden;
}
