.modal-content {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    transform: scaleY(0.005) scaleX(0);
}

.unfold-enter {
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0.005) scaleX(0);
}

.unfold-enter-active {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1) scaleX(1);
    transition: transform 1s, opacity 1s, visibility 1s;
}

.unfold-exit {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1) scaleX(1);
}

.unfold-exit-active {
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0.005) scaleX(0);
    transition: transform 1s, opacity 1s, visibility 1s;
}

.close {
    color: #00FF00;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}
