body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Courier New', monospace;
    color: #00ff00;
    background-color: #000;
}

.matrix-rain {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
}

.matrix-rain canvas {
    display: block;
}

.terminal-container {
    position: absolute;
    z-index: 2;
    top: 20%;  /* Adjusted top value */
    bottom: 20%;  /* Adjusted bottom value */
    left: 30%;  /* Adjusted left value */
    right: 30%;  /* Adjusted right value */
    width: 40%;  /* Adjusted width value */
    height: 60%;  /* Adjusted height value */
    writing-mode: horizontal-tb;
    text-orientation: sideways;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    border: 1px solid #0F0;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
}


.terminal-container [name="react-console-emulator__content"] {
    background-color: rgba(0, 0, 0, 0);
    color: #0F0;
    font-size: 15px;
    font-family: 'Courier New', monospace;
    padding: 20px;
}

.terminal-container [name="react-console-emulator__promptLabel"] {
    color: #0F0;
}

.terminal-container [name="react-console-emulator__input"] {
    color: #0F0;
    font-weight: bold;
}

.console-output {
    margin-bottom: 10px;
    color: #0F0 !important;
}

.console-prompt {
    color: #0F0 !important;
}

.console-input {
    color: #0F0 !important;
    font-weight: bold;
}
